*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Squada One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, ol, li{
    list-style: none;
}

html, body{
    scroll-behavior: smooth;
}

ul{
    justify-content: space-between;
    gap: 50px;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
}


header{
    background-color: #E87B1F;
    display: flex; 
    width: 100%;
    height: 15vh;
    justify-content: space-between;
    position: fixed;
}

.topics{
    width: 50vw;
    display: flex;
    margin-left: 260px;
    justify-content: end;
}

.topics li{
    flex-direction: row;
    margin-top: 50px;
    font-size: 20px;
}

.matt{
    font-size: 48px;
    margin-top: 30px;
    margin-left: 100px;
    position: absolute;
}

.senai{
    height: 50px;
    width: 200px;
    margin-top: 40px;
}

header nav ul{
    display: flex;
    justify-content: space-between;
}

header nav a{
    color: white;
    padding: 8px;
    transition: 1s;
}
header nav a:hover{
    background-color: red;
}

.grupo{
    height: 100vh;
}

main{
    background-color: #FEC34E ;
    padding-top: 15vh;
    width: 100%;
}

#start{
    align-items: center;
}

.sobretit{
    align-items: center;
    width: 100vw;
    justify-content: center;
    text-align: center;
}
.sobretit h1{
    font-size: 64px;
}

.txt1{
    text-align: center;
    width: 35vw;
    align-items: center;
    justify-content: center;
    margin-left: 32%;
}
.txt1 h3{
    font-size: 32px;
}

.img1{
    align-items: center;
    width: 100vw;
    justify-content: center;
    margin-top: 50px;
}

.img1 img{
    top: 0;
    margin-left: 10%;
}

#algebra{
    display: flex;
    background-color: #d86c1b;
}

.ladoE{
    justify-content: center;
    width: 50vw;
    height: 100vh;
    align-items: center;
    text-align: center;
}
.ladoE h1{
    font-size: 64px;
    align-items: center;
    margin-top: 20%;
}

.ladoE h3{
    width: 50%;
    align-items: center;
    margin-left: 170px;
    font-size: 24px;
}

.ladoD{
    justify-content: center;
    align-items: center;
}

.ladoD .exag{
    font-size: 64px;
    margin-left: 25%;
    margin-top: 37%;
}



#geometria{
    display: flex;
}

.ladoD .exge{
    margin-top: 20%;
    font-size: 64px;
    margin-left: 30%;
}


#estatistica{
    background-color: #d86c1b;
    display: flex;
}

.ladoE .stat{
    margin-top: 20%;
}

.ladoD .exes{
    margin-top: 10%;
    margin-left: 50%;
    margin-top: 33%;
    font-size: 64px;
}

.ladoD h3{
    width: 50%;
    margin-left: 20%;
    width: 50vh;
    font-size: 24px;
    text-align: center;
}

#porque{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.pqtt{
    align-items: center;
    font-size: 48px;
    justify-content: center;
}

.txtult{
    font-size: 24px;
    align-items: center;
    text-align: center;
    width: 50%;
}
.lastimg{
    margin-top: 50px;
}
.lastdiv{
    margin-top: 50px;
}

@media (max-width:960px){
    .matt{
        font-size: 26px;
        margin-top: 50px;
        margin-left: 20px;
    }

    .topics{        
        width: 75vw;
        justify-content: start;
        margin-left: 115px;

    }

    #start{
        height: 800px;
    }

    .topics li{
        font-size: 14px;
        margin-top: 65px;
    }
    
    .senai{
        display: none;
    }
    .img1{
       height: 5vh;
       width: 5vw;
    }

    .sobretit h1{
        font-size: 48px;
        margin-top: 100px;
        margin-right: 100px;
    }

    .txt1{
        width: 70vw;
        align-items: center;
        margin-left: 7vw;
    }
    .txt1 h3{
        font-size: 26px;
    }

    .img1 img{
        height: 300px;
        width: 600px;
    }

    .ladoE{
        width: 50vw;
    }

    .ladoE h1{
        font-size: 32px;
        margin-top: 250px;
        height: 100vhs;
    }

    .ladoE h3{
        font-size: 16px;
        margin-left: 90px;
    }

    .ladoD{
        width: 50vw;
    }

    .ladoD .exag{
        font-size: 32px;
        margin-left: 7vw;
        margin-top: 250px;
    }

    .ladoD .imgalg{
        margin-top: 50px;
        height: 250px;
        width: 200px;
    }

    .ladoD .exge{
        font-size: 32px;
        margin-top: 250px;
        margin-left: 10px;
    }

    .ladoD .imggeo{
        height: 400px;
        width: 420px;
    }

    .ladoE .stat{
        margin-top: 270px;
    }

    .ladoD .exes{
        font-size: 32px;
        margin-left: 75px;
        margin-top: 270px;
    }

    .ladoD h3{
        font-size: 16px;
        margin-top: 50px;
        margin-left: 10px;
        width: 30vw;
        text-align: center;
       }

       .pqtt h1{
        font-size: 48px;
        margin-left: -40px;
       }
       .txtult h3{
        font-size: 24px;
        margin-left: -40px;

       }

       .lastimg img{
        height: 300px;
        width: 400px;
        margin-left: -40px;
       }

       .lastdiv{
        font-size: 32px;
       }


}

@media (max-width:640px){

    .topics{        
        width: 65vw;
        justify-content: start;
        margin-left: 70px;
        margin-top: -25px;
    }

    .matt{
        font-size: 20px;
        margin-top: 25px;
        margin-left: 5px;
    }

    .topics li{
        font-size: 8px;
        margin-top: 65px;
    }

    .sobretit{
        margin-top: 20vh;
    }

    .sobretit h1{
        font-size: 36px;
        margin-top: 100px;
        margin-left: 32vw;
    }

    .txt1{
        font-size: 16px;
        width: 70vw;
        align-items: center;
        margin-left: 20vw;
    }

    .img1 img{
        height: 200px;
        width: 370px;
        margin-top: 2vh;
    }

    .ladoE {
        width: 50vw;
    }

    .ladoE h1{
        font-size: 20px;
        margin-top: 70px;
    }

    .ladoE h3{
        font-size: 12px;
        margin-left: 53px;
    }

    .ladoD{
        width: 50vw;
    }

    .ladoD .exag{
        font-size: 20px;
        margin-left: 15vw;
        margin-top: 150px;
    }

    .ladoD .imgalg{
        margin-top: 50px;
        height: 250px;
        width: 200px;
        margin-right: 100px;
    }

    .ladoD .exge{
        margin-left: 50px;
    }

    .ladoD .imggeo{
        height: 200px;
        width: 180px;
    }


    .ladoE .stat{
        margin-top: 50px;
    }

    .ladoD .exes{
        font-size: 20px;
        margin-left: 35px;
        margin-top: 50px;

    }

    .ladoD h3{
        font-size: 14px;    
    }

    .pqtt h1{
        font-size: 20px;
        margin-left: 40px;
       }
       .txtult h3{
        font-size: 12px;
        margin-left: 40px;

       }

       .lastimg img{
        height: 150px;
        width: 200px;
        margin-left: 40px;
       }

       .lastdiv{
        font-size: 20px;
       }

       main{
        width: 100vw;
       }

    
}







